<br/>
<div class="card center">
  <div class="card-body">
    <h2 class="card-title">Bienvevidos al Blog</h2>
    <p class="card-text">Comparte tus anecdotas en entrenamientos y carreras</p>
    <p class="card-text"><small class="text-muted">Ultima actualizacion hace 3 minutos</small></p>
  <%= link_to "Registrate ahora", "#", class: "btn btn-primary btn-lg" %>
  </div>
  
  <img src="~/code/blog/blog/app/asset/images/srv.png" class="card-img-bottom" alt="Imagen del Team">
</div>
