<br/>
<br/>
<div align="center">
<div class="container">
    <footer class="footer">
        <small>
            &copy; <a href="https://smartrunners.xyz" target="_blank">Smart Runners, club de corredores</a>
            por Eduardo Medina
        </small>
    </footer>
</div>
</div>