<br/>
<div class="container">
    <footer class="footer">
        <small>
            &copy; <a href="https://smartrunners.xyz" target="_blank">Smart Runners, club de corredores</a>
            por Eduardo Medina
        </small>
        <nav>
            <ul>
                <li><%= link_to "About", home_about_path %></li>
            </ul>
        </nav>
    </footer>
</div>
